
.body{
  height: 100%;
  width: 100%;
  border: 2px solid green;
  margin: auto;
  /* background-color: rgb(50,50,50,0.6); */


}
h1{
  text-align: center;
}
.header{

  width: 100%;
  border : 2px solid red;
  background-color: #B22222;

}

.main{
  height: 100%;
  width: 100%;
  border : 2px solid red;
}
 .footer{
   height: 100px;
   width: 100%;
   border : 2px solid red;
 }

.moviesCorousel{
  display: flex;
  background-color: #e9ece5;
  justify-content:space-around;
  width:70%;
  margin: auto;

}
.moviesCorousel img{
    padding: .5em;
    margin: .3em .2em;
    border-radius: 10px;

}
.moviesLogo h1{
  text-align: center;
  font-size: 20px;
  font-family: 'Fascinate Inline', cursive;

}
.carouselContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.carousel-button {
  align-self: center;
  background: #f2cd69;
  color: #111;
  padding: 10px;
  border-radius: 10%;
  text-align: center;
  box-shadow: 1px 1px #fa8d8e;

}
.carousel-button:hover{
  background: #fa8d8e;
  color: white;
}
.previous{
  margin-left: 5%;
}
.next{
  margin-right: 5%;
}

/* ////////Movies Table  */

.moviesTableHeader{
  border: 1px solid green;
  width:100%;
  height: 70px;
  padding: 1px;
  margin: auto;
  /* margin-top: 10px; */
  background-color: lightyellow;
}

.moviesTableHeader h2{
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  float: left;
  margin-left: 30%;
}

.inputYear, .inputYearBtn{
  display: inline-block;
  float: left;
  /* position: relative; */
  height: 20px;
  margin-top: 20px;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
  border-color: lightgreen;
}
.inputYearBtn{
  height: 25px;
  background-color: black;
  color: white;
  width:40px;
  font-size: 14px;
  font-weight: bold;


}

.moviesTable{
  clear: both;
  margin:auto;
  width:80%;
  border: 1px solid orange;
  background-image:url("myMovie.jpeg");
  background-size: 300px 100px;


}

 .mtable {
  border: 1px solid gray;
  width: 80%;
  table-layout:fixed;
  margin: auto;
  height: 80%;
  overflow: scroll;
  border-collapse: collapse;


}
th,td{
  width: 20%;
  height:15px;
  border: 1px solid gray;
  padding: 5px;
  text-align: left;
  vertical-align: middle;

}
td{
  font-weight: 100;
  font-family:'Crimson Text', serif;

}

th{
  padding: 10px;
  font-weight: 500;
  font-family:monospace;
  font-size: 18px;
  background-color: black;
  color:white;
}

tr:nth-child(even){
  background: #CD5C5C;

}

tr:nth-child(odd){
  /* background: #E0E0E0; */
  background: rgb(50,50,50,0.3);

}

/* .mtable a{
  text-decoration: none;
  color:white;
} */

/* ++++++++  Modal ++++++++ */

.modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}

.modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.modal-textbox a{
  float: right;
}

/* ++++++ media query-+++++++++ */

@media screen and (max-width: 1069px) {

  .moviesCorousel{
    display: flex;
    background-color: #e9ece5;
    justify-content:space-around;
    width:100%;
    margin: auto;

  }
   
}
