body{
  padding: 0;
  margin: 0;
  /* background-color: azure; */
}

html{
  padding: 0;
  margin: 0;
}

/* Header */
.header{
  display: flex;
  justify-content: space-between;
}

.header-menu a{
  display: inline;
  justify-content:space-between;
  text-decoration: none;
  color: black;
}

.header-menu li {
  list-style: none;
}

.header-ul{
  display: flex;
  justify-content: space-between;
}

li{

  margin-right:50px;
  padding: 5px;
}

.name{
  padding: 5px;
  margin-left: 50px;
}

.header-bio{
  text-align: center;
}

/* Main Grid  */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  margin-right:15%;
  width:600px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 90px;
  height:200px;
  width: 400px;
  margin: 20px;
  box-sizing:border-box;
  box-shadow: 5px 10px #888888;
  align-content: space-evenly;

}

.main-grid{
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.a-btn{
  display: block;
  /* width: 100px;
  height: 30px;
  margin: auto; */
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border: 1px solid lightblue;
  border-radius: 5px;
  font-size: 20px;
  font-family: "montserrat";
  transition: 0.5s;
  background: lightblue;
  /* position:absolute; */
  /* overflow:hidden; */
}

.a-btn:hover{
  color:purple;
}

.grid-item .a-btn::before{
  content: "";
  left:0;
  width:100%;
  height:0%;
  background: white;
  z-index:-1;
  transition: 0.8s;
  top:0;
  border-radius: : 0 0 50% 50%;
}

.a-btn:hover::before{
  height: 180%;
}
h2{
  text-align: center;
  padding: 10px;
}
#myWork > h2{
  /* visibility: hidden; */

}
/*  ++++++++++++++++   work item row   ++++++++*/
.work-item-row{
  display: flex;
  justify-content:space-between;
  /* background: wheat; */
}
.work-item-img{
  margin-left: 15%;
  /* margin-right: 15%; */
  margin-top: 1%;
  /* margin-bottom: 5%; */
  /* margin:auto; */


}
.work-img{
  display: block;
  width:100%;
  height:100%;
  border: 0.5px solid grey;
}
.row-launch{
  align-items: center;
  text-align:center;
}
.row-wheat{
  background: azure;
}
.row-grey{
  background: lightblue;
}
.row-launch{
  padding:30px;
  font-size: 24px;
}
.work-item-desc{
  margin-right: 15%;
  margin-left:1%;
}

/*  aboutMe-section*/
.aboutMe-sec{
  display: flex;
  justify-content: center;
  background-color: lightblue;
}
.aboutMe-img{
  margin-left: 15%;
  margin-top:5%;
}
.My-img{
  display: block;
  width:70%;
  height:50%;
  border-radius: 50%;
}
.aboutMe-desc{
  margin-right: 15%;
}
